
.edit-item {
    margin-right: 0.7rem;
    cursor: pointer;
}

.delete-item {
    cursor: pointer;
}

h1 {
    background-color: rgb(9, 0, 128);
    color: #fff;
    text-align: center;
    width: 800px;
}

p {
    font-size: 20px;
    text-align: center;
}