.container {

  display: grid;
  justify-content: center;
  align-content: center;
}
.tweet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 35px solid rgb(248, 56, 8);
}
.left,
.right {
  padding: 50px;
  border: 8.5px solid rgb(0, 1, 14);
}
form button {
  border: none;
  padding: 16px 30px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: rgb(16, 131, 16);
  color: rgb(37, 2, 2);
}
.fa-trash {
  margin-left: 10px;
  margin-bottom: 25px;
}
.search {
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 4px solid rgb(6, 245, 106);
}
ol > li {
  background-color: rgb(82, 245, 7);
  margin: 5px;
}

.text-count {
  width: 100%;
  text-align: right;
} 